.header__logo {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 103.74px;
    height: 24.4px;
}

@media screen and (min-width: 918px) {
    .header__logo {
        width: 142px;
        height: 33px;
    }
}