.popup__title {
    display: block;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 67px;
    padding: 0;
    border: none;
    width: 100%;
    color: #000000;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.21;
}

@media screen and (min-width: 619px) {
    .popup__title {
        font-size: 24px;
        line-height: 1.208;
        margin-bottom: 38px;
  }
}