.popup__container {
  box-sizing: border-box;
  margin: 0;
  padding-top: 25px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 282px;
  height: auto;
  min-height: 181px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  z-index: 100;
  cursor: default;
}

@media screen and (min-width: 619px) {
  .popup__container {
    padding-top: 34px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 37px;
    width: 430px;
    height: auto;
  }
}
